[Unit]
Description=startup-script
After=sockets.target

[Service]
Type=oneshot
ExecStart=sudo /admin/.config/sway/scripts/startup-script.sh
RemainAfterExit=no

[Install]
WantedBy=sockets.target
