[Unit]
Description=Waypipe server for browser forwarding
After=basic.target

[Service]
Type=simple
Environment="WAYLAND_DISPLAY=wayland-1"
ExecStart=/home/browzer/.config/bin/waypipe_server_start.sh
Restart=on-failure

[Install]
WantedBy=basic.target
